<app-navbar></app-navbar>
<div class="about-us">
  <img [src]="url" width="100%" height="90%">;
  <div class="container">
<blockquote class="otro-blockquote">
  <span>About Dreni's Car Showroom</span>
  Welcome to our exquisite car showroom, where luxury and elegance meet.
     Our showroom offers a unique and sophisticated ambiance that provides
    a perfect backdrop to showcase our exceptional collection of high-end cars.
    <br>
    From sleek sports cars to classic vintage models, our inventory is sure to satisfy
    even the most discerning of tastes. Our knowledgeable and friendly staff is always
    on hand to assist you in finding the perfect vehicle to match your style and preferences.
    <br>
    Our showroom is not just a place to purchase a car; it's an experience. We invite you to
   visit us and explore our collection in person and witness the true beauty and craftsmanship
  of our cars.

</blockquote>


    <!-- <h2>About Us</h2>
  <p>Welcome to our exquisite car showroom, where luxury and elegance meet.
     Our showroom offers a unique and sophisticated ambiance that provides
    a perfect backdrop to showcase our exceptional collection of high-end cars.
    </p>
  <p>
  From sleek sports cars to classic vintage models, our inventory is sure to satisfy
  even the most discerning of tastes. Our knowledgeable and friendly staff is always
  on hand to assist you in finding the perfect vehicle to match your style and preferences.
  </p>
  <p>
  Our showroom is not just a place to purchase a car; it's an experience. We invite you to
   visit us and explore our collection in person and witness the true beauty and craftsmanship
  of our cars.
</p> -->
  </div>
</div>

