<app-navbar></app-navbar>
<div class="location">
  <img [src]="url" width="100%" height="90%">;
  <div class="container">
    <div class="text">
        <h1>Our Location</h1>
    </div>
    <div class="google-location">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.056083015577!2d21.13022447664747!3d42.66016691608813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13549fdfc2d3be6b%3A0xed2b2d46d34cda3c!2sAuto%20Salloni%20Dreni!5e0!3m2!1sen!2s!4v1683062818606!5m2!1sen!2s" width="1600" height="440" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
</div>
